:root {
  --color-pageBackground: #f5f1e8;
  --color-pageBackgroundModalActive: #ede8dc;
  --color-pageBackgroundTopLeft: #f5f1e8;
  --color-pageBackgroundBottomRight: #f0e6d4;
  --color-pageBackgroundLineTop: #fffef9;
  --color-pageBackgroundLineMid: #f5f1e8;
  --color-pageBackgroundLineBottom: #f0e6d4;
  --color-pageText: #4a3f2e;
  --color-pageTextLight: #7a6b55;
  --color-pageTextSubdued: #a59988;
  --color-pageTextDark: #3d3426;
  --color-pageTextPositive: #8b6914;
  --color-pageTextLink: #a67c52;
  --color-pageTextLinkLight: #c9a178;
  --color-cardBackground: #fffef9;
  --color-cardBorder: #b8956a;
  --color-cardShadow: rgba(60, 45, 30, 0.3);
  --color-tableBackground: #fffef9;
  --color-tableRowBackgroundHover: #f8f4ed;
  --color-tableText: #4a3f2e;
  --color-tableTextLight: #7a6b55;
  --color-tableTextSubdued: #a59988;
  --color-tableTextSelected: #6b5a45;
  --color-tableTextHover: #3d3426;
  --color-tableTextInactive: #9d8f7e;
  --color-tableHeaderText: #6b5a45;
  --color-tableHeaderBackground: #fffef9;
  --color-tableBorder: #e8ddd0;
  --color-tableBorderSelected: #b8956a;
  --color-tableBorderHover: #c9a178;
  --color-tableBorderSeparator: #d4c5b2;
  --color-tableRowBackgroundHighlight: #f0e6d4;
  --color-tableRowBackgroundHighlightText: #6b5a45;
  --color-tableRowHeaderBackground: #f8f4ed;
  --color-tableRowHeaderText: #5a4a38;
  --color-sidebarBackground: #5a4a38;
  --color-sidebarItemBackgroundPending: #d4a574;
  --color-sidebarItemBackgroundPositive: #8b7a52;
  --color-sidebarItemBackgroundFailed: #b8866b;
  --color-sidebarItemBackgroundHover: #6b5a45;
  --color-sidebarItemAccentSelected: #d4b896;
  --color-sidebarItemText: #e8ddd0;
  --color-sidebarItemTextSelected: #d4b896;
  --color-menuBackground: #fffef9;
  --color-menuItemBackground: #f8f4ed;
  --color-menuItemBackgroundHover: #f5f1e8;
  --color-menuItemText: #4a3f2e;
  --color-menuItemTextHover: #4a3f2e;
  --color-menuItemTextSelected: #b8956a;
  --color-menuItemTextHeader: #8b7a52;
  --color-menuBorder: #e8ddd0;
  --color-menuBorderHover: #d4b896;
  --color-menuKeybindingText: #9d8f7e;
  --color-menuAutoCompleteBackground: #5a4a38;
  --color-menuAutoCompleteBackgroundHover: #6b5a45;
  --color-menuAutoCompleteText: #fffef9;
  --color-menuAutoCompleteTextHover: #d4b896;
  --color-menuAutoCompleteTextHeader: #d4a574;
  --color-menuAutoCompleteItemTextHover: #fffef9;
  --color-menuAutoCompleteItemText: #fffef9;
  --color-modalBackground: #fffef9;
  --color-modalBorder: #fffef9;
  --color-mobileHeaderBackground: #b8956a;
  --color-mobileHeaderText: #f8f4ed;
  --color-mobileHeaderTextSubdued: #d4c5b2;
  --color-mobileHeaderTextHover: rgba(184, 149, 106, 0.15);
  --color-mobilePageBackground: #f8f4ed;
  --color-mobileNavBackground: #fffef9;
  --color-mobileNavItem: #9d8f7e;
  --color-mobileNavItemSelected: #a67c52;
  --color-mobileAccountShadow: #a59988;
  --color-mobileAccountText: #6b5a45;
  --color-mobileTransactionSelected: #a67c52;
  --color-mobileViewTheme: #b8956a;
  --color-mobileConfigServerViewTheme: #a67c52;
  --color-markdownNormal: #d4b896;
  --color-markdownDark: #b8956a;
  --color-markdownLight: #e8ddd0;
  --color-buttonMenuText: #f8f4ed;
  --color-buttonMenuTextHover: #fffef9;
  --color-buttonMenuBackground: transparent;
  --color-buttonMenuBackgroundHover: rgba(184, 149, 106, 0.25);
  --color-buttonMenuBorder: #9d8f7e;
  --color-buttonMenuSelectedText: #5a4a38;
  --color-buttonMenuSelectedTextHover: #4a3f2e;
  --color-buttonMenuSelectedBackground: #d4a574;
  --color-buttonMenuSelectedBackgroundHover: #c9a178;
  --color-buttonMenuSelectedBorder: #d4a574;
  --color-buttonPrimaryText: #fffef9;
  --color-buttonPrimaryTextHover: #fffef9;
  --color-buttonPrimaryBackground: #a67c52;
  --color-buttonPrimaryBackgroundHover: #b8956a;
  --color-buttonPrimaryBorder: #a67c52;
  --color-buttonPrimaryShadow: rgba(60, 45, 30, 0.3);
  --color-buttonPrimaryDisabledText: #fffef9;
  --color-buttonPrimaryDisabledBackground: #a59988;
  --color-buttonPrimaryDisabledBorder: #a59988;
  --color-buttonNormalText: #4a3f2e;
  --color-buttonNormalTextHover: #4a3f2e;
  --color-buttonNormalBackground: #fffef9;
  --color-buttonNormalBackgroundHover: #fffef9;
  --color-buttonNormalBorder: #e8ddd0;
  --color-buttonNormalShadow: rgba(60, 45, 30, 0.2);
  --color-buttonNormalSelectedText: #fffef9;
  --color-buttonNormalSelectedBackground: #8b7a52;
  --color-buttonNormalDisabledText: #a59988;
  --color-buttonNormalDisabledBackground: #fffef9;
  --color-buttonNormalDisabledBorder: #e8ddd0;
  --color-buttonBareText: #4a3f2e;
  --color-buttonBareTextHover: #4a3f2e;
  --color-buttonBareBackground: transparent;
  --color-buttonBareBackgroundHover: rgba(160, 140, 120, 0.15);
  --color-buttonBareBackgroundActive: rgba(160, 140, 120, 0.25);
  --color-buttonBareDisabledText: #a59988;
  --color-buttonBareDisabledBackground: transparent;
  --color-calendarText: #f8f4ed;
  --color-calendarBackground: #5a4a38;
  --color-calendarItemText: #e8ddd0;
  --color-calendarItemBackground: #6b5a45;
  --color-calendarSelectedBackground: #9d8f7e;
  --color-noticeBackground: #d4c5a5;
  --color-noticeBackgroundLight: #e8ddd0;
  --color-noticeBackgroundDark: #b8956a;
  --color-noticeText: #6b5a45;
  --color-noticeTextLight: #8b7a52;
  --color-noticeTextDark: #4a3f2e;
  --color-noticeTextMenu: #d4b896;
  --color-noticeBorder: #b8956a;
  --color-warningBackground: #d4a574;
  --color-warningText: #6b5a45;
  --color-warningTextLight: #8b7a52;
  --color-warningTextDark: #4a3f2e;
  --color-warningBorder: #b8956a;
  --color-errorBackground: #deb887;
  --color-errorText: #a67c52;
  --color-errorTextDark: #8b6914;
  --color-errorTextDarker: #6b5a45;
  --color-errorTextMenu: #d4a574;
  --color-errorBorder: #a67c52;
  --color-upcomingBackground: #e8ddd0;
  --color-upcomingText: #6b5a45;
  --color-upcomingBorder: #b8956a;
  --color-formLabelText: #8b7a52;
  --color-formLabelBackground: #d4c5b2;
  --color-formInputBackground: #f8f4ed;
  --color-formInputBackgroundSelected: #fffef9;
  --color-formInputBackgroundSelection: #a67c52;
  --color-formInputBorder: #e8ddd0;
  --color-formInputTextReadOnlySelection: #f8f4ed;
  --color-formInputBorderSelected: #a67c52;
  --color-formInputText: #4a3f2e;
  --color-formInputTextSelected: #f8f4ed;
  --color-formInputTextPlaceholder: #a59988;
  --color-formInputTextPlaceholderSelected: #d4c5b2;
  --color-formInputTextSelection: #f5f1e8;
  --color-formInputShadowSelected: #b8956a;
  --color-formInputTextHighlight: #d4b896;
  --color-checkboxText: #fffef9;
  --color-checkboxBackgroundSelected: #8b7a52;
  --color-checkboxBorderSelected: #8b7a52;
  --color-checkboxShadowSelected: #a67c52;
  --color-checkboxToggleBackground: #9d8f7e;
  --color-checkboxToggleBackgroundSelected: #a67c52;
  --color-checkboxToggleDisabled: #d4c5b2;
  --color-pillBackground: #e8ddd0;
  --color-pillBackgroundLight: #f8f4ed;
  --color-pillText: #5a4a38;
  --color-pillTextHighlighted: #a67c52;
  --color-pillBorder: #e8ddd0;
  --color-pillBorderDark: #a59988;
  --color-pillBackgroundSelected: #f0e6d4;
  --color-pillTextSelected: #6b5a45;
  --color-pillBorderSelected: #b8956a;
  --color-pillTextSubdued: #d4c5b2;
  --color-reportsRed: #b8866b;
  --color-reportsBlue: #8b7a52;
  --color-reportsGreen: #9d8f7e;
  --color-reportsGray: #9d8f7e;
  --color-reportsLabel: #4a3f2e;
  --color-reportsInnerLabel: #5a4a38;
  --color-noteTagBackground: #e8ddd0;
  --color-noteTagBackgroundHover: #d4b896;
  --color-noteTagDefault: #6b5a45;
  --color-noteTagText: #6b5a45;
  --color-budgetOtherMonth: #f5f1e8;
  --color-budgetCurrentMonth: #fffef9;
  --color-budgetHeaderOtherMonth: #ede8dc;
  --color-budgetHeaderCurrentMonth: #f5f1e8;
  --color-floatingActionBarBackground: #b8956a;
  --color-floatingActionBarBorder: #b8956a;
  --color-floatingActionBarText: #f8f4ed;
  --color-tooltipText: #4a3f2e;
  --color-tooltipBackground: #fffef9;
  --color-tooltipBorder: #e8ddd0;
  --color-calendarCellBackground: #f5f1e8;
}
